#pokedex-heading{
    margin:0 auto;
    letter-spacing: 6px;
    
    text-decoration: none;


}
.outer-pokedex{
    background-color: #c19db6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a:visited{
    color: black;
}